@model BookInfo.Models.Book

@{
    ViewData["Title"] = "Create";
}

<h1>Добавить книгу</h1>

<h4>Новая книга</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" type="date" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pages" class="control-label"></label>
                <input asp-for="Pages" class="form-control" />
                <span asp-validation-for="Pages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Genres" class="control-label"></label>
               @Html.ListBox("Genres", (IEnumerable<SelectListItem>)ViewBag.Genres, new { htmlAttributes = new { @class = "form-control"} })
                  
                <script>
                    document.getElementById("Genres").classList = "form-control";
                </script>
            </div>
            <div class="form-group">
                <label asp-for="Cover" class="control-label"></label>
                <input name="file" id="file" class="form-control" type="file" />
                <span asp-validation-for="Cover" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                  @Html.DropDownListFor(model => model.AuthorId, (IEnumerable<SelectListItem>)ViewBag.AuthorId, String.Empty, new { htmlAttributes = new { @class = "form-control"} })
                <span asp-validation-for="AuthorId" class="text-danger"></span>
                <script>
                    document.getElementById("AuthorId").classList = "form-control";
                </script>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

